red color: #940909

body {
	font-family: 'Raleway', sans-serif;
}



/*michela*/

section {
	width: 100%;
}

section div:nth-child(1) {
	width: 65%;
	float: left;
}

section div:nth-child(2) {
	width: 35%;
	float: left;
	background-color: grey;
}


