/*red color: #d02f2f
font logo font-family: 'Bree Serif', serif; */
/*Parte 1------------------------------------------------------------------------*/

body {
	font-family: 'Raleway', sans-serif;
	
	margin:0;
}

header {
	background-color: white;
	width: 100%;
	border-top: 4px solid #d02f2f;
	padding: 30px 0;	
}
header a{
	text-decoration: none;
}
.header_container{
	width: 75%;
	margin: 0 auto 15px;
}
.logo_container {
	width: 60%;
	display: inline-block;
}
.logo_container span:nth-child(1){
	font-family: 'Bree Serif', serif;
	font-size: 28px;
}

.italic_font {
	font-family: 'Crimson Text', serif;
	font-size: 20px;
}

.logo_container a{
	color: black;
}
.bold{
	font-weight: bold;
}
.navbar {
	width: 30%;
	float: right;
	margin-top: 10px;
}
.navbar ul{
	text-align: center

}

.navbar a{
	font-size: 14px;
	color: grey;
	letter-spacing: 1px;
	padding: 0 5px;
	text-transform: uppercase;
}

.navbar li {
	display: inline-block;
	 

}
.navbar li a:hover {
	color: black;
}
.photo_container img {
	box-sizing: border-box;
	width: 100%;
}

.photo_container  {

	margin: 0;
	width: 100%;
}

.description_container{
	background-color: white;
	padding: 0 15%;
	font-size: 31px;
	text-align: left;
	line-height: 40px;
	margin: 70px 0;
}

#image {
	border-bottom: 5px solid #d02f2f;
}


/*Fine Parte 1----------------------------------------------------------------------------*/

h3 {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bolder;
}

.info-box {
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
}

.first {
	background-image: url(Contacts-back.jpg);
	background-size: contain;
}

.description {
	width: 35%;
	float: left;
	padding: 30px 0 30px 15%;
}


.info {
	width: 40%;
	float: right;
	margin-left: 50px;
	padding: 40px 5px;
}

.bg {
	color: white;
	background-color: black;
	opacity: 0.8;
	padding-left: 40px;
}

.info ul {
	list-style: none;
	width: 40%;
	float: left;
	padding-left: 0;
}

.info ul:nth-child(1) {
	list-style: none;
	width: 40%;
	float: left;
	padding-left: 0;
	margin-left: 50px;

}

.info ul li {
	margin: 12px 0;
}


blockquote {
	font-style: italic;
	margin-bottom: 20px;
}





.quote {
	width: 100%;
	background-size: contain;
	margin: 0;
	text-align: center;
}

.quote-container {
	background-color: #d02f2f;
	padding: 50px 0 70px 0;
	background-image: url(original.png); 
	background-blend-mode: multiply;
}

blockquote {
	color: white;
	font-size: 31px;
	padding: 0 15%;
	font-size: 31px;
	font-weight: normal;
	text-align: left;
	line-height: 40px;
	margin: 70px 0 30px;
	font-style: italic;
	opacity: 1;
}

cite {
	width: 30%;
	color: white;
	font-style: normal;
	padding-bottom: 20px;
}

footer {
	width: 100%;
	background-color: #333;
	color: #666;
	font-size: 12px;
	padding: 5px 15%;
	box-sizing: border-box;
	text-align: left;
} 

@media screen and (max-width: 425px) {

	header {
		padding: 25px 0;
	}

	.header_container {
		margin: 0 auto;
		overflow: hidden;
	}

	.logo_container {
		display: block;
		width: 100%;
		margin-left: 28px;
	}

	.logo_container > a {
		text-align: center;
	}

	.italic_font {
		padding-left: 40px;
	}

	.navbar {
		width: 100%;
		display: block;
		align-content: center;
		margin: 0 auto;
		float: none;
	}

	.navbar ul {
		padding: 0;
		margin-bottom: 0;
		margin-left: 5px;
	}

	.navbar ul li {
		padding: 0 10px;
	}

	.navbar a {
		font-size: 13px;
	}

	.description_container {
		font-size: 20px;
		margin: 30px 0;
		line-height: 35px;
		padding: 0 10%
	}

	.first {
		display: block;
		width: 100%;
	}


	.description {
		display: block;
		text-align: center;
		font-size: 15px;
		width: 100%;
		text-align: left;
		padding: 0 10%;
		box-sizing: border-box;
		margin: 20px 0;
		line-height: 23px;
	}

	.info {
		display: block;
		text-align: center;
		font-size: 15px;
		width: 100%;
		text-align: left;
		padding: 15px 10%;
		box-sizing: border-box;
	}

	.bg ul:nth-child(3) {
		padding-left: 15%;
	}

	.quote-container {
		padding-top: 30px;
	}

	.quote-container blockquote {
		font-size: 20px;
		margin-top: 30px;
	}

	.quote-container cite {
		font-size: 12px;
	}

	footer {
		font-size: 10px;
		padding: 8px 10%;
	}

	footer p {
		margin: 0;
	}


}
